### Java, Scala, SBT
*.class

# Package files
*.jar

# sbt specific
.bsp/
.cache/
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
.idea/
bin/
out

/.gitignore

# jetbrains
.idea/workspace.xml
pj3-bigdata/.bsp/sbt.json
